# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/xwj7xv1ampya/public_html/scouting"
PassengerBaseURI "/"
PassengerPython "/home/xwj7xv1ampya/virtualenv/public_html/scouting/3.7/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
